<div class="row">
    <div class="col-2">First Name</div>
    <div class="col">
      <input type="text" class="form-control" placeholder="First name" aria-label="First name" [(ngModel)]="profile.fn" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="col-2">Last Name</div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" [(ngModel)]="profile.ln" [ngModelOptions]="{standalone: true}">
    </div>
  </div>
  <div class="row my-4">
      <div class="col-2">Email Address</div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name" [(ngModel)]="profile.email" [ngModelOptions]="{standalone: true}">
      </div>
  </div>
  <div class="row">
    <div class="col-2"><label for="inputAddress" class="form-label">Address</label></div>
    <div class="col">
      <input type="text" class="form-control" id="inputAddress" style="height: 100px;" [(ngModel)]="profile.address" [ngModelOptions]="{standalone: true}">
    </div>
  </div>
  <div class="row my-4">
      <div class="col-2">    
          <label for="formFile" class="form-label">Photo</label>
      </div>
      <div class="col mb-3">
        <input class="form-control" type="file" id="formFile">
      </div>
  </div>
  <div class="row">
      <div class="col-4">

      </div>
      <div class="col-6">
        <div class=" buttons m-5">
            <button class="btn btn-primary mx-5" type="button">Cancel</button>
            <button class="btn btn-primary mx-5" type="button">Submit</button>
          </div>
      </div>
  </div>
 
  